body {
  background-color: white;
  padding: 0 20px;
}
p#info {
  height: 30px;
} 
div.box {
  height: 30px;
  line-height: 30px;
}
div.box > div {
  display: inline-block;
}
div.box > div:first-child {
  width: 300px;
}
div.box > div:last-child {
  vertical-align: bottom;
}
div.led {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 4px;
}
div.led.red{
  background-color: red;
}
div.led.yellow {
  background-color: yellow;
}
div.led.green {
  background-color: green;
}
button {
  margin-top: 20px;
}